<h1>Create a new List:</h1>
<!-- <form action="<%#= lists_path%>" method="POST"> 
  
  <input type="text" name="list[name]">

  <input name="authenticity_token" type="hidden" value="token_value">
  <input type="submit">

</form>   -->

<!-- 
<%#= form_tag(lists_path) do %>
  
  <%#= text_field_tag 'list[name]' %>

  <%#= submit_tag %>

<%# end %>  --> 

<style>
  .field_with_errors {border: 1px solid red;}
</style>  


<%= form_for(@list) do |f| %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %> 

<%# These 3 forms are equivalent the same %>

<%#= form_tag(lists_path, :method => post) do %> <%#is the same as <%#= form_tag(lists_path) do %>